* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.bin binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
